.DS_Store
reactJS/public/js/app.js
reactJS/public/js/app.js.map
reactJS/node_modules
serverless/node_modules
node_modules
reactJS/npm-debug.log
serverless/npm-debug.log
npm-debug.log
serverless/.serverless
