@font-face { font-family: roboto-reg; src: url('../fonts/Roboto/Roboto-Regular.ttf'); }
@font-face { font-family: roboto-thin; src: url('../fonts/Roboto/Roboto-Thin.ttf'); }
@font-face { font-family: roboto-light; src: url('../fonts/Roboto/Roboto-Light.ttf'); }
@font-face { font-family: roboto-medium; src: url('../fonts/Roboto/Roboto-Medium.ttf'); }
body {
  margin: 0;
}

img {
  height: 30px;
}
.robotoRegFont{
  font-family: 'roboto-reg';
}
.robotoLightFont{
  font-family: 'roboto-thin';
}
.robotoMediumFont{
  font-family: 'roboto-medium';
}
.sideHeading{
  font-family: 'roboto-reg';
  color: #973df2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
.contents{
  font-family: 'roboto-light';
  font-weight: 300;
  font-size: 14px;
}
.skill{
  font-family: 'roboto-light';
  font-weight: 300;
  font-size: 14px;

}
.universityName, .awardName, .projectName{
  font-family: 'roboto-medium';
  font-weight: 700;
  font-size: 14px;
}
.degreeName, .awardOrganiser, .projectRole{
  font-family: 'roboto-reg';
  font-weight: 600;
  font-size: 14px;
}
.educationYear, .awardYear{
  font-family: 'roboto-light';
  font-weight: 300;
  font-size: 14px;
}
.educationDescription, .awardDescription, .projectDescription{
  font-family: 'roboto-thin';
  font-weight: 300;
  font-size: 14px;
  color: #797575;
}
.imgSpace{
  padding-right: 18px;
}
.imagesDiv{
  padding-top: 10px;
}
.sideContent{
  line-height: 7px;
}
